<div class="countries-listing">
	<input ng-model="searchString" placeholder="Type country name to filter list" size="35"></input>
	<table>
		<tr>
			<!--th>Index</th-->
			<th>Name</th>
			<th>Country Code</th>
			<th>Capital</th>
			<th>Area in sq.km</th>
			<th>Population</th>
			<th>Continent</th>
		</tr>
		<tr ng-repeat="country in countries | filter: searchString">
			<!--td><a ng-href="#/countries/{{country.countryCode}}">{{countries.indexOf(country)}}</a></td-->
			<td><a ng-href="#/countries/{{country.countryCode}}">{{country.countryName}}</a></td>
			<td><a ng-href="#/countries/{{country.countryCode}}">{{country.countryCode}}</a></td>
			<td><a ng-href="#/countries/{{country.countryCode}}">{{country.capital}}</a></td>
			<td><a ng-href="#/countries/{{country.countryCode}}">{{country.areaInSqKm | number}}</a></td>
			<td><a ng-href="#/countries/{{country.countryCode}}">{{country.population | number}}</a></td>
			<td><a ng-href="#/countries/{{country.countryCode}}">{{country.continent}}</a></td>
		</tr>
	</table>
	<button><a href="#/">Home</a></button>
</div>